body {
  background: url("https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/07/05/105312566-1530803740357gettyimages-815863456.1910x1000.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#location-selection {
  padding-top: 2em;
  margin: 0em 1em 0em 1em;
  background-color: lightblue;
  background: rgba(255, 255, 255, 0.1);
}

#departs {
  margin: 2em 1em 0em 1em;
}

#arrivals {
  margin: 2em 1em 0em 1em;
}

#flightButton {
  margin-bottom: 300em;
}

#datePicker {
  margin-top: 20px;
}

#flightFormInputs {
  display: flex;
  justify-content: space-evenly;
}

#fltSegment {
  background: rgba(255, 255, 255, 0.3);
}

#fltButn {
  margin-top: 19px;
  background-color: white;
}

#arrivals, #departs, #fltResults {
  height: 80vh;
  /* overflow-y: scroll; */
}

.div::-webkit-scrollbar {
  display: none !important;
}

.ui.five.card {
  overflow-y: scroll;
  height: 58vh;
}

#fltResults {
  background-color: inherit;
}

#dateLabel {
  position: absolute;
  left: 23px;
  color: red;
}

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61em
}

.ui.form {
  opacity: 0.9;
  background-color: lightblue;
  width: 50em;
  border: inset;
  padding: 20px;
  text-align: center;
  margin-left: 40em;
  background-color: unset;
}

#signupContainer {
  height: 65em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  margin: 0em;
  background-color: azure;
}

.menuFont {
  color: red
}

#loginContainer {
  height: 65em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#loginButt, #signupButt {
  padding: 40px;
  background-color: cyan;
}

#labels {
  color: gold;
  font-size: xx-large;
  font-variant-caps: petite-caps
}

.inputtext {
  text-align: center;
  font-size: x-large;
}

.ui.input {
  margin-left: 25em;
}

.ui.center.aligned.header{
  text-align: center;
  font-style: oblique;
  font-weight: 400;
  height: 36px;
  background-color: deepskyblue;
}

.ui.two.cards {
  display: flex;
  justify-content: center;
}

.react-datepicker__input-container {
  margin-right: 5px;
}

.ui[class*="left floated"].header {
  float: left;
  margin-top: 3em;
  margin-right: .5em;
  margin-left: 2em;
  font-family: fantasy;
  font-size: 20px;
}

.ui[class*="right floated"].header {
  float: right;
  margin-top: 3em;
  margin-left: .5em;
  margin-right: 7em;
  font-family: fantasy;
  font-size: 20px;
  padding-right: 2em;
}
