body {
  background: url("https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/07/05/105312566-1530803740357gettyimages-815863456.1910x1000.jpeg") no-repeat;
  background-size: cover;
}

#location-selection {
  padding-top: 2em;
  margin: 0em 1em 0em 1em;
  background-color: lightblue;
  background: rgba(255, 255, 255, 0.3);
}

#departs {
  margin: 2em 1em 0em 1em;
}

#arrivals {
  margin: 2em 1em 0em 1em;
}

#flightButton {
  margin-bottom: 300em;
}

#datePicker {
  margin-top: 20px;
}

#flightFormInputs {
  display: flex;
  justify-content: space-evenly;
}

#fltSegment {
  background: rgba(255, 255, 255, 0.3);
}

#fltButn {
  margin-top: 19px;
  background-color: white;
}
