body {
  background: url("https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/07/05/105312566-1530803740357gettyimages-815863456.1910x1000.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* animation-name: background-switch; */
  animation-duration: 500s;
  animation-iteration-count: infinite;
}

/*  A gif idea for maybe the login page because this shit gets annoying! https://media.giphy.com/media/Te7h0uqGNo0CY/giphy.gif */

@keyframes background-switch {
  0%  { background: url("./images/Experiences_Beach.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        animation-timing-function: linear;
        animation-play-state: paused;
      }
  15% { background: url("./images/carnival-cruise-line.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        animation-timing-function: linear;
        animation-play-state: paused;
      }
  30% { background: url("./images/flightpic.jpeg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        animation-timing-function: linear;
      }
  45% { background: url("./images/jurrassicpark.jpeg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        animation-timing-function: linear;
      }
  60% { background: url("./images/london.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        animation-timing-function: linear;
      }
  75% { background: url("./images/phuket-romantic-beaches.jpg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
  100% { background: url("./images/lights.jpeg") no-repeat;
        background-size: cover;
        background-attachment: fixed;
        animation-timing-function: linear;
      }
}



#fltButn {
  margin-top: 20px;
  margin-right: 3px
}

.inputs {
  margin-bottom: 1em;
}

#select {
  margin: 0px;
}

#hotelForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#hotelHead {
  align-self: center;
  color: gold;
}

#hotelSelection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: url('https://www.atlantisbahamas.com/media/Things%20To%20Do/Water%20Park/Beaches/Hero/Experiences_Beach.jpg');
  background-size: cover;
}

#arriveHead {
  order: 3;
  margin-left: 20px;
  position: relative;
  font-family: fantasy;
}

#departHead {
  margin-top: 27px;
  margin-right: 10px;
  position: relative;
  font-family: fantasy;
}

#flightContainer {
  display: flex;
  flex-direction: column;
}

#leavingFromHead {
  color: gold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: deepskyblue;
}

#arrivingAtHead {
  color: gold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: deepskyblue;
}

.ui.search {
  font-size: 1em;
  display: flex;
  justify-content: center;
}

#location-selection {
  padding-top: 2em;
  margin: 0em 1em 0em 1em;
  background-color: lightblue;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
}

#departs {
  margin: 2em 1em 0em 1em;
}

#arrivals {
  margin: 2em 1em 0em 1em;
}

#flightButton {
  display: flex;
  margin-bottom: 300em;
}

#datePicker {
  display: flex;
  margin-top: 20px;
}

#flightFormInputs {
  display: flex;
  justify-content: space-evenly;
}

#fltSegment {
  background: rgba(255, 255, 255, 0.3);
  flex-direction: row;
  display: inherit;
}

#hotelButn {
  position: relative;
  margin-top: 7px;
  background-color: white;
  align-self: inherit;
  margin-left: 3px;
}


#arrivals, #departs, #fltResults {
  height: 80vh;
  /* overflow-y: scroll; */
}

.div::-webkit-scrollbar {
  display: none !important;
}

.ui.five.card {
  display: flex;
  overflow-y: scroll;
  height: 58vh;
}

#fltResults {
  background-color: inherit;
}

/* div#hotelSelection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */

#dateLabel {
  display: flex;
  position: absolute;
  left: 23px;
}

#form-container {
  justify-content: center;
  align-items: center;
  height: 61em
}

#flightForm {
  opacity: 0.9;
  background-color: lightblue;
  border: inset;
  background-color: unset;
  display: flex;
  max-width: 50%;
}

/* .ui.form {
  opacity: 0.9;
  background-color: lightblue;
  width: 50em;
  border: inset;
  padding: 20px;
  text-align: center;
  margin-left: 40em;
  background-color: unset;
} */

#signupContainer {
  height: 65em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  display: flex;
  margin: 0em;
  background-color: azure;
}

.menuFont {
  color: red
}

#loginContainer {
  height: 65em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#loginButt, #signupButt {
  display: flex;
  padding: 40px;
  background-color: cyan;
}

#labels {
  display: flex;
  color: gold;
  font-size: xx-large;
  font-variant-caps: petite-caps
}

.inputtext {
  text-align: center;
  font-size: x-large;
}

/* .ui.input {
  display: flex;
  margin-left: 25em;
} */



/* .ui.center.aligned.header{
  display: flex;
  text-align: center;
  font-style: oblique;
  font-weight: 400;
  height: 36px;
  background-color: deepskyblue;
} */

.ui.two.cards {
  display: flex;
  justify-content: center;
}

.react-datepicker__input-container {
  margin-right: 5px;
}

/* .ui[class*="left floated"].header {
  display: flex;
  float: left;
  margin-top: 3em;
  margin-right: .5em;
  margin-left: 2em;
  font-family: fantasy;
  font-size: 20px;
} */

/* .ui[class*="right floated"].header {
  display: flex;
  float: right;
  margin-top: 3em;
  margin-left: .5em;
  margin-right: 7em;
  font-family: fantasy;
  font-size: 20px;
  padding-right: 2em;
} */

/* .ui.grid {
  display: flex;
  background-color: honeydew;
  opacity: 0.9;
  border: solid;
  border-color: royalblue;
} */
